.order {
  font-family: monospace;
  font-size: 1.25rem;
}

.order hr {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #CCC;
}

.order ul li {
  font-size: 1.75em;
}

.order ul .price {
  font-size: 1.25em;
  display: inline-block;
  width: 100%;
}

.order ul .price p {
  float: right;
}

.order ul {
  list-style-type: none;
}

.orderNumber {
  color: rgb(135, 135, 135);
}

.timestamp {
  display: inline-block;
  width: 100%;
  color: rgb(135, 135, 135);
}

.timestamp .date {
  float: left;
}

.timestamp .time {
  float: right
}

.badge {
  background-color: #01cb73;
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.75rem !important;
  letter-spacing: 2px;
}
