@media screen and (max-width: 700px) {
  .about, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
  }

  .logo {
    margin: 25px;
  }
}

@media screen and (min-width: 701px) {
  .about, .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 48px;
  }

  .logo {
    margin: 0px;
  }
}

.container {
  margin: auto;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;

  h2 {
    font-style: italic;
    margin: 0px 6px 32px 6px;
    text-align: center;
  }
}

.logo {
  margin-bottom: 48px;
}

.contact {
  background-color: rgb(249, 249, 249);
  margin-bottom: 32px;

  h1 {
    font-family: "Grenoble Serial Bold", serif;
    color: #E14046;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.5em;
  }

  p {
    font-size: 1.25em;
    color:rgb(114, 114, 114);
    line-height: 150%;
  }
}

.about {
  margin-bottom: 32px;
  background-color: rgb(249, 249, 249);

  h1 {
    font-family: "Grenoble Serial Bold", serif;
    color: #E14046;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.5em;
  }

  p {
    font-size: 1.25em;
    color:#6d6d6d;
    max-width: 500px;
    text-align: left;
    line-height: 125%;
    b {
      color: #E14046;
    }
  }
}

.store, .takeout {
  display: flex;
  justify-content: center;
  margin: 0px 0px 96px 0px;
}

.pictures {
  margin: 48px 0px 48px 0px;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .image {
      margin: 5px;
    }
  }
}