.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 700px) {
  .listItem {
    width: 100%;
  }

  .main {
    .sectionNavigation {
      flex-wrap: wrap;
      font-size: 1em;
      justify-content: center;
      line-height: 150%;

      .sectionLink {
        margin: 0px 5px;
      }

      .sectionLink:first-child {
        margin: 0px 5px 0px 0px;
      }
    }
  }
}

@media screen and (min-width: 701px) {
  .listItem {
    width: 50%;
  }

  .main {
    .sectionNavigation {
      min-width: 600px;
      font-size: 1.25em;
      justify-content: space-between;
    }
  }
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3em;
    font-family: 'Grenoble Serial Bold', sans-serif;
  }

  .businessInfo {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      margin-left: 4px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .subhero {
    max-width: 550px;
    padding: 25px 0px 35px 0px;
    color: #5e5e5e;

    .orderType {
      display: flex;
      justify-content: center;

      .badge {
        border-radius: 5px;
        padding: 7px 5px;
        background-color: #009B58;
        color: white;
        width: 100%;
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }

  .sectionNavigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    .sectionLink {
      text-transform: capitalize;
    }
  }

  .menuContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;

    .categoryTitle {
      text-transform: capitalize;
      font-family: 'Grenoble Serial Bold', serif;
      margin: 25px 10px 5px 10px;
      font-size: 2.5em;
      text-align: left;
    }

    hr {
      width: 10%;
      margin-bottom: 25px;
      margin-left: 10px;
    }

    .menuSection {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0px;
      width: 100%;
      max-width: 1100px;
    }
  }
}
