.item {
  border-color: rgb(232, 232, 232);
  border-width: 1px;
  border-style: solid;
  padding: 40px 80px 40px 30px;
  color: black;
  margin: 10px;
  border-radius: 5px;
  transition: border-color 100ms, background-color 100ms;
}

.item:hover {
  border-color: rgb(108, 108, 108);
}

.item .description {
  color: rgb(123, 123, 123);
}

.item h4 {
  margin: 0px;
}

.item .selection .quantityInput {
  width: 75px;
}

.item .selection label {
  margin-right: 6px;
}