.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container .order {
  width: 100%;
  max-width: 800px;
  margin: 15px 15px 80px 15px;
}

.container p {
  color: rgb(45, 45, 45);
}

.container .order .logo {
  margin: auto;
  width: 250px;
}

.container .order .summaryTitle {
  text-align: center;
  font-family: 'Grenoble Serial Bold', sans-serif;
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.receipt h2 { 
  font-family: 'Grenoble Serial Bold', sans-serif;
}

.receipt table {
  max-width: 510px;
  width: 75%;
  min-width: 280px;
}

.receipt .itemName {
  text-align: left;
}

.receipt .amountTotal {
  text-align: right;
}

.instructions h2 {
  letter-spacing: 1px;
  font-family: 'Grenoble Serial Bold', serif;
}

.instructions .contactRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instructions .contactRow a {
  margin-left: 5px;
}
